* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 300px) {
    header {
        /*display: grid;
        grid-template-columns: 1fr 2fr;*/
        margin-bottom: 10%;
    }

    nav {
        display: grid;
        justify-items: center;
        grid-row-gap: 20%;
        margin-top: 20%;
        font-size: large;
        /*justify-self: end;*/
    }

    section.navLogo {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img.openClose {
        justify-self: right;
        margin-right: 5%;
    }

    img.bookmark {
        margin-left: 5%;
    }

    .show {
        display: none;
    }

    div#modal {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: hsl(229, 31%, 21%);
        top: 0;
        left: 0;
        z-index: 10;
    }

    section.hero {
        margin-bottom: 10%;
        /*  background-color: blue;
background-size: 80% 30%;*/
    }

    section.hero img,
    section.features img {
        position: relative;
        width: 90%;
        display: block;
        margin: auto;
        /* box-shadow: inset -4px 20px 16px 20px darkgrey;*/
    }

    section.features img {
        position: relative;
    }

    h1 {
        margin: 5% 10%;
        text-align: center;
    }

    h2,
    h3 {
        /* margin: auto; */
        text-align: center;
    }

    p {
        margin: 5% 10%;
        text-align: center;
        line-height: 1.4em;
    }

    .getIt {
        text-align: center;
    }

    input[type="button"] {
        width: 40vw;
        height: 8vh;
        border-radius: 10px;
    }

    .chrome {
        background-color: hsl(231, 69%, 60%);
        color: white;
    }

    h3 {
        padding: 5% 0;
    }

    hr {
        opacity: 0.3;
    }

    div#backImgHero,
    div#backImgFeatures {
        width: 75%;
        height: 30vh;
        position: absolute;
        background-color: cornflowerblue;
        z-index: 0;
    }

    div#backImgHero {
        left: 20%;
        margin-top: 20%;
        border-bottom-left-radius: 30%;
    }

    div#backImgFeatures {
        margin-top: 12%;
        height: 35vh;
        margin-left: 2%;
        border-bottom-right-radius: 20%;
    }

    input.moreInfo {
        margin: auto;
        display: block;
    }

    img.browserImg,
    .dotsImg,
    button.addExtBtn {
        margin: auto;
        display: block;
    }

    img.browserImg {
        margin-top: 5%;
    }

    figure {
        width: 80%;
        margin: auto;
        border: 1px solid darkred;
        margin-bottom: 5%;
        height: 60vh;
        border-radius: 10px;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary:after {
        content: url("images/icon-arrow.svg");
        float: right;
    }

    details[open] summary:after {
        content: url("images/icon-arrow.svg");
        display: inline-block;
        transform: rotate(180deg);
    }

    hr{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .contactUs {
        height: 60vh;
        background-color: cadetblue;
    }

    input[type="email"],
    input[type="submit"] {
        display: block;
        margin: auto;
        width: 80vw;
        height: 8vh;
        border-radius: 5px;
        padding-left: 5%;
        margin-bottom: 5%;
    }

    input[type="submit"] {
        background-color: red;
        color: white;
    }
    footer {
        background-color: chocolate;
    }

    footer nav{
        margin-top: 5%;
        margin-bottom: 15%;
    }

    img.bookmarkFooter {
        display: block;
        margin: 5% auto;
    }

    footer a{
        text-decoration: none;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        
    }

    li {
        list-style-type: none;
    }

    li.twitter {
        justify-self: right;
        margin-right: 5%;
    }

    li.facebook {
        justify-self: left;
        margin-left: 5%;
        
    }

    nav a{
        color: white;
        text-decoration: none;
    }

    header nav{
        grid-row-gap: 50%;
    }

    .modalFeatures {
        border-top: 1px solid white;
        padding-top: 2%;
        width: 90%;
        text-align: center;
    }
}